body {
  background: #e4f2f5;
}

table {
  font-family: arial, sans-serif;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#like-button {
  position: absolute;
  top: 0;
  right: 0;
}

#back-button {
  position: absolute;
  top: 0;
  left: 0;
}

.poop{
  margin: auto;
}

.poopdos{
  padding-left: 25vw;
}