button {
  background-color: #52b8cc;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

button:hover {
  background-color: #157a8a;
}

form, h1, h3, h4 {
  text-align: center;
}

h1 {
  color: #4fa1b3;
  text-shadow: 2px 2px #145359;
  font-size: 60px;
}

#register_button {
  background-color: #52b8cc;
  border: none;
  color: white;
}

#register_button:hover {
  background-color: #157a8a;
}

#login_button {
  background-color: #52b8cc;
  border: none;
  color: white;
}

#login_button:hover {
  background-color: #157a8a;
}

body {
  background-color: #e4f2f5;
}