<!DOCTYPE html>
<html lang="en">

  <head>
    <title>HOME</title>
    <link rel="stylesheet" href="../static/home.css">
  </head>

  <body>
    <script src="../js/home.js"></script>

    <div class="tab">
      <button class="tablinks" onclick="openTab(event, 'Search')">Search</button>
      <button class="tablinks" onclick="openTab(event, 'Favorites')">Favorites</button>
    </div>

    <div id="Search" class="tabcontent">
      <h3>Search for any college</h3>
    </div>

    <div id="Favorites" class="tabcontent">
      <h3>View your favorite colleges</h3>
    </div>
    <br>
    <br>
    <form action="/results" method="post">
      <input type="text" name = "College" placeholder="College Name">
      <br>
      <input type="submit" class="code" value="select code">
    </form> 
  </body>

</html>