<!DOCTYPE html>
<html lang="en">

  <head>
    <title>LOGIN</title>
  </head>

  <body>

    <h1>Login Page</h1>

    <h3>
      Enter your username and password below to proceed.
    </h3>

    <form action="/login" method="POST">
      User: <input type="text" name="user_name"><br>
      Password: <input type="text" name="pass_word"><br>
      <input type="submit" name="submit_log">
    </form>
    {% if message %}
      {{message}}
    {% endif %}
    <br>

    <h4>Don't have an account? Sign up now!</h4>

    <form action="/register" method="GET">
      <button type="submit">Register</button>
    </form>

  </body>

</html>