<html>
    <head>
        <link rel ="stylesheet" type="text/css" href="static/css/style.css">
        <link rel="stylesheet" href="../static/css/site.css">
    </head>

    <body>
        <h2>megaNuclearSuperJesus: Jacob Guo, Sam Cowan, Marc Jiang, Nicole Zhou</h2>
        <br>
        <h2> Welcome to our famous College Picker Website! We know you'll love the colleges you'll find here!</h2>

        <!-- <div class="orbit" role="region" aria-label="Great Colleges" data-orbit>
            <div class="orbit-wrapper">
              <div class="orbit-controls">
                <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
              </div>
              <ul class="orbit-container">
                <li class="is-active orbit-slide">
                  <figure class="orbit-figure">
                    <img class="orbit-image" src="https://www.cornell.edu/visit/assets/images/video-poster.jpg" alt="College">
                    <figcaption class="orbit-caption">Our favorite Ivy.</figcaption>
                  </figure>
                </li>
                <li class="orbit-slide">
                  <figure class="orbit-figure">
                    <img class="orbit-image" src="https://www.cornell.edu/visit/assets/images/video-poster.jpg" alt="Space">
                    <figcaption class="orbit-caption">Lets Rocket!</figcaption>
                  </figure>
                </li>
                <li class="orbit-slide">
                  <figure class="orbit-figure">
                    <img class="orbit-image" src="https://www.cornell.edu/visit/assets/images/video-poster.jpg" alt="Space">
                    <figcaption class="orbit-caption">Encapsulating</figcaption>
                  </figure>
                </li>
                <li class="orbit-slide">
                  <figure class="orbit-figure">
                    <img class="orbit-image" src="https://www.cornell.edu/visit/assets/images/video-poster.jpg" alt="Space">
                    <figcaption class="orbit-caption">Outta This World</figcaption>
                  </figure>
                </li>
              </ul>
            </div>
            <nav class="orbit-bullets">
              <button class="is-active" data-slide="0">
                <span class="show-for-sr">First slide details.</span>
                <span class="show-for-sr" data-slide-active-label>Current Slide</span>
              </button>
              <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
              <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
              <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
            </nav>
          </div> -->
          <!-- <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
            <ul class="orbit-container">
              <button class="orbit-previous" aria-label="previous">&#9664;</button>
              <button class="orbit-next" aria-label="next">&#9654;</button>
              <li class="is-active orbit-slide">
                <img class="orbit-image" src="//foundation.zurb.com/sites/docs/assets/img/orbit/01.jpg" alt="Space">
                <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
              </li>
              <li class="orbit-slide">
                <img class="orbit-image" src="//foundation.zurb.com/sites/docs/assets/img/orbit/02.jpg" alt="Space">
                <figcaption class="orbit-caption">Lets Rocket!</figcaption>
              </li>
              <li class="orbit-slide">
                <img class="orbit-image" src="//foundation.zurb.com/sites/docs/assets/img/orbit/03.jpg" alt="Space">
                <figcaption class="orbit-caption">Encapsulating</figcaption>
              </li>
              <li class="orbit-slide">
                <img class="orbit-image" src="//foundation.zurb.com/sites/docs/assets/img/orbit/04.jpg" alt="Space">
                <figcaption class="orbit-caption">Outta This World</figcaption>
              </li>
            </ul>
          </div> -->

        Do you want an account? Click here to register:
        <a href = "/register">
            <button>register</button>
        </a>
        <br><br>
        Are you already a member? Click here to login:
        <a href = "/login">
            <button>login</button>
        </a>

        <script src="../static/js/main.js"></script>
    </body>

</html>