<html>
    <head>
        <link rel ="stylesheet" type="text/css" href="static/css/style.css">
    </head>
        
    <body>
        <h2>megaNuclearSuperJesus: Jacob Guo, Sam Cowan, Marc Jiang, Nicole Zhou</h2>
        <br>
        <img src="https://www.explainxkcd.com/wiki/images/9/96/checkbox.gif">
        <br>
        This is a working app. It is a work in progress. Work is being done. on it
        <form action="/results" method="post">

            <input type="text" name="Lat" placeholder="Latitude">
            <br>
            <input type="text" name="Long" placeholder="Longitude">
            <br>
            <input type="text" name="Code" placeholder="POI Code">
            <br>
            <a href="https://learn.microsoft.com/en-us/bingmaps/spatial-data-services/public-data-sources/poi-entity-types">Find POI Codes here!</a>
            <br>
            <input type="submit" class="code" value="select code">
        </form> 

        <a href = "/register">
            <button>register</button>
        </a>
        <br>
        <a href = "/login">
            <button>login</button>
        </a>
    </body>

</html>