<html>
    <head>
        <link rel ="stylesheet" type="text/css" href="static/css/style.css">
        <link rel="stylesheet" href="../static/css/site.css">
    </head>

    <body>
        <h2>megaNuclearSuperJesus: Jacob Guo, Sam Cowan, Marc Jiang, Nicole Zhou</h2>
        <br>
        <h2> Welcome to College Insider!!</h2>

        <h3> Need an account? Click here to register:
          <a href = "/register">
            <button>Register</button>
          </a>
        </h3>
        <h3> Already have an account? Click here to login:
          <a href = "/login">
              <button>Login</button>
          </a>
        </h3>
        <script src="../static/js/main.js"></script>
    </body>

</html>